<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=169433 
-->
<configuration>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="20" />
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.7.2"/>
    <authentication mode="Forms">
      <!-- forms timeout = 30 minutes; slidingExpiration=true renews on activity -->
      <forms loginUrl="index.aspx" timeout="20" slidingExpiration="true" />
    </authentication>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <!--<add value="aminrup/_default/WebForm1.aspx"/>-->
      </files>
    </defaultDocument>
  </system.webServer>
  <system.codedom>
    <compilers/>
  </system.codedom>
</configuration>